.template-details {
  text-align: center;
  margin: 40px auto;
  max-width: 600px;
}

.template-details img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.preview-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.preview-btn:hover {
  background-color: #0056b3;
}


.use-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.use-btn:hover {
  background-color: #218838;
}
