.category-items {
    background-color: white;
    height: 100vh;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 6px;
}

.final-price {
    font-weight: bold;
    color: #d32f2f;
}